{:paths ["src"]
 :deps {
        io.github.kotoba-lang/coll-index
        {:git/url "https://github.com/kotoba-lang/coll-index.git"
         :git/sha "2bd9fd3b4f14aec90ea6d02f1dd55a5eb214ded8"}
        io.github.kotoba-lang/coll-invert-map
        {:git/url "https://github.com/kotoba-lang/coll-invert-map.git"
         :git/sha "41a930a077ba73c898045f3b7c77b1851dfa2ced"}
        io.github.kotoba-lang/coll-rename-keys
        {:git/url "https://github.com/kotoba-lang/coll-rename-keys.git"
         :git/sha "8dd3ed02eba54465a5e8670b1a18e28d0995e265"}
        io.github.kotoba-lang/coll-set-intersection
        {:git/url "https://github.com/kotoba-lang/coll-set-intersection.git"
         :git/sha "af1b179354bd3c37ff107cff862c8580238d491d"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
